<% @page_title = "About Ducks CS"%>

<div class="container_about">
  <h1 class="page-header"><%= @page_title %></h1>

  <div class="box1-about">
    <h2>We can help you choose CS courses.</h2>
    <p>
      The student-run Ducks CS will serve as a valuable guide for course selection.</br>
      We are happy to announce the launch of this website, making your course</br>
      selection easy and fun! Just enjoy your Stevens life with Ducks CS!
    </p>
  </div>

  <div class="box2-about">
    <h2>Motivation</h2>
    <p>
      The idea of this website comes from our experience as first year graduate student.</br>
      Crafting a course of study for the first year can be challenging, especially for the </br>
      international students. We will give you a valuable introduction for stevens CS courses.

    </p>
  </div>

  <div class="box3-about">
    <h2>Any questions?</h2>
    <p>
      If you have any questions, please feel free to contact us <%= link_to "here", :index, style: "color: #880c29" %>.</br>
      Your feedback is important to make this website better.
    </p>
  </div>

</div>
