.account_table {
  margin-top: 0px;
  margin-bottom: 300px;
}
.box_myaccount {
  margin-bottom: 240px;
}

.h2_editmyaccount{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.small_notice {
  font-size: 15px;
  text-align: center;
  color: blue;
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}
