.header_post {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  .review_button {
    outline: none;
    font-size: 20px;
    color: #f5f5f5;
    width: 320px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffaa00;

    border: solid 1px #880c29;
    background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      from(#e61445),
      to(#880c29));
    background-image: -webkit-linear-gradient(
      top,
      #e61445 0%,
      #880c29 100%);
    background-image: linear-gradient(
        top,
        #e61445 0%,
        #880c29 100%);

     a {
      color: #f5f5f5;
      text-decoration: none;
     }
   }

}


.pagination {

  .active a{
     color: #0000ff;
     border: 2px solid #0000ff;
     background-color: white;
   }

   .active a:hover {
     color: #0000ff;
      background-color: white;
    }

    .active a:link{
      color: black;
    }
}

.review_table {
  margin-top: 20px;

}
