.container {

   .h2_signup{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-group{
    .btn-default {
      font-size: 15px;
      height: 40px;
      color: #ffffff;
      background-color: #880c29;
    }
  }

  .signup {
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    .btn-default {
      font-size: 18px;
    }
  }
}
